
body{
    display: flex;
    flex-direction: column;
}
.container-sm {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 48% !important;
}

#myChart {
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}